<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pro">

	<select id="selectDataAll" resultType="dto">
		select sawon_no, sawon_name, buser_name, sawon_jik,   
		CONCAT(SUBSTR(sawon_ibsail,1,4),'년 ',QUARTER(sawon_ibsail),'사분기') as sawon_ibsail 
		from sawon left outer join buser on buser_num=buser_no ORDER by buser_name, sawon_name
	</select>
	
	<!-- // 10.10-3-21 -->
	<select id="selectBuserRadio" parameterType="formBean" resultType="dto">
		select * from sangdata where sang like concat('%', #{searchValue}, '%')
	</select>
	
	
</mapper>